.demo-card-square.mdl-card {
  float: left;
  margin: 10px;
  width: 90%;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
}
.mdl-card__title-text {
  background-color: #000;
  color: #FFF;
  padding: 5px;
}

/* mobile phone */
@media all and (max-width: 500px) {
  .demo-card-square.mdl-card {
    width: 100%;
  }
}
