<!DOCTYPE html>
<html>
  <head>
    {{>head }}
    <link rel="stylesheet" type="text/css" media="screen" href="./css/index.css" />
  </head>
  <body>
    {{> header}}
    <!-- content start -->
    <div class="fb-plugin">
      <div class="fb-like-box" data-href="https://www.facebook.com/Taiwanstat" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
    </div>
    <div class="wrapper">
    {{#each site.pages}}
    <a href="{{url}}"><h2 class="mdl-card__title-text">{{title}}</h2>
        <div class="mdl-card__supporting-text">
          {{desc}}
        </div>
    </a>
    {{/each}}
    </div>

    <div class="fb-plugin">
      <div class="fb-like" data-href="http://www.taiwanstat.com/" data-width="300px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!-- content end -->
    {{> footer}}
    {{> javascripts}}

  </body>

</html>
