<!DOCTYPE html>
<html>
  {{> head}}
  <link rel="stylesheet" type="text/css" media="screen" href="https://taiwanstat.com/blog/css/post.css" />
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=600079286760117&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    {{> header}}
    <main class="content-container" role="main">
      <article class="post">
        {{#if cover}}
          <div class="post-cover" style="background: url('{{#if cover}}{{ cover }}{{/if}}') center / cover">
            <h3 class="post-title">
              <i class="fa fa-file-text"></i>
              {{ title }}
            </h3>
          </div>
          {{> post_content}}
        {{else}}
          {{> post_content}}
        {{/if}}
      </article>
      <div class="footer-container">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
         /* * * CONFIGURATION VARIABLES * * */
         var disqus_shortname = 'taiwanstat';

             /* * * DON'T EDIT BELOW THIS LINE * * */
         (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
    </main>
    {{> footer}}
    {{> javascripts}}
  </body>
</html>
